body{
	font-family: Arial, sans-serif;
}
header{
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	padding: 60px 0;
}
.kezdo{
	position: relative;
	overflow: hidden;
}
.kezdo img{
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 170%;
	opacity: 0;
	animation: crossfade 12s infinite;
}
.kezdo img:nth-child(1) {
	animation-delay: 0s;
}
.kezdo img:nth-child(2) {
	animation-delay: 4s;
}
.kezdo img:nth-child(3) {
	animation-delay: 8s;
}
@keyframes crossfade {
  % {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.mas{
	background-image: url('2026-04-23_20.38.31.png');
	background-position: center;
}
nav{
	background-color: #646464;
}
nav a{
	color: #ffffff;
	text-decoration: none;
	padding: 8px;
	display: inline-block;
}
nav a:hover{
	background-color: #4A4A4A;
}
h2 a{
	text-decoration: none;
	color: #000000;
}
footer{
	background-color: #C3C3C3;
	font-size: 16px;
}
footer p{
	text-align: center;
}
