body{
  font-family: Arial, sans-serif;
}
header{
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  background-image: url('ad.gif');
  background-position: center;
  padding: 50px 0;
}
nav{
  background-color: #646464;
}
nav a{
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  display: inline-block;
}
nav a:hover{
  background-color: #4A4A4A;
}
h2 a{
  text-decoration: none;
  color: #000000;
}
footer{
  background-color: #C3C3C3;
  font-size: 16px;
}
footer p{
    text-align: center;
}
